/* Use this file to use your own styles*/

/* Import declaration to use Google Fonts - check https://fonts.google.com/ for details */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400;1,700&display=swap');

html {
	height: 100%;
}

/* Styles for the body */

body {
	color: #b72c5d;
	background: repeating-linear-gradient(#ff9d9d, #fa7090);
	height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

/* Styles for custom classes in the document. (There are more, try to find them out!) */

.resume-header {
    background-color: #e0f0ff;
}

.resume-main {
	background-color: #fffefc;
}

.resume-aside {
	background-color: #fff0e0;
}

/* Styles for lists in the document */

.biography-details li::before, .skill-list li::before {
	content: ">";
	font-weight: 800;
	display: inline-block;
	width: 1em;
	margin-left: -1em;
}

.biography-details li::before {
	color: #b72c5d;
}

.biography-details li, .skill-list li {
	padding-left: 1em;
}

/* Styles for contact icons */

.contact-icon {
	height: 1.5em;
	flex-basis: 1.5em;
	padding-right: 0.5em; padding-bottom: 0.2em;
}

/* This is where I went kind of nuts, sorry*/

.language-box {
	padding-left: -3em;
	margin-left: -3em;
}

.resume-header-text {
margin-left: 0.25em;
padding-bottom: 0.25em;
}

.background-color1 {
	background: linear-gradient(#ffe1e1, #ff9d9d);
}

.background-color2 {
	background-image: linear-gradient(to right, #d9d3fa , #ae9ffb);
}

.bordercolor {
	border: 3px solid transparent; 
	border-style: dashed;
	border-color: #b72c5d;
}

.background-image {
 background-image: url("images/background/background-cv.jpg") repeat fixed center;
}

a:link {
	color:#fa7090;
}

a:visited {
	color: rgb(227, 62, 106);
}

a:hover {
	color: rgb(80, 0, 166);
}

.anek-devanagari-bodytext {
	font-family: "Anek Devanagari", sans-serif;
	font-optical-sizing: auto;
	font-weight: 500;
	font-style: normal;
	font-variation-settings:
	  "wdth" 100;
}

.anek-devanagari-bodytitle {
	font-family: "Anek Devanagari", sans-serif;
	font-optical-sizing: auto;
	font-weight: 800;
	font-style: normal;
	font-variation-settings:
	  "wdth" 100;
}

.caveat-brush-regular {
		font-family: "Caveat Brush", cursive;
		font-weight: 400;
		font-style: normal;
}

.gifmargin {
	margin-top: 1em;
	margin-bottom: 1em;
}